tqdm

opencv-python
matplotlib
pandas
jupyterlab
plotly
streamlit
requests
xmltodict
openpyxl

scipy
pyyaml
seaborn
chardet

pygame
open3d
pyautogui
pillow

--extra-index-url https://download.pytorch.org/whl/cu126
torch
--extra-index-url https://download.pytorch.org/whl/cu126
torchvision

motpy
ultralytics

# https://github.com/THU-MIG/yolov10/blob/main/requirements.txt
onnx
onnxruntime
pycocotools
# ubuntu24.04 (2023/3) NG
# onnxsim
onnxruntime-gpu
gradio
psutil
py-cpuinfo
huggingface-hub
safetensors
